@import "tailwindcss";


*{
  font-family:Inter;
}
#recent-items::-webkit-scrollbar{
  display: none;
}
#Home-items-div::-webkit-scrollbar{
  display: none;
}
.sticky-searchbar {
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure it's above other content */
  background: white; /* Prevent content below from showing through */
}
